body {
    font-family:-apple-system, BlinkMacSystemFont;
    font-size: 18px;
    color: #f4b41a;
    background-image: linear-gradient(62deg, #143d59 0%, #181719 40%);
}

code {
    white-space: pre;
}

h1 {
    color: #f2bc94;
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color:#01263d;
    font-size: 17px;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}


a{
    color: #f4b41a;
}
a:hover{
    color:#f4b41a;
}

.button {
background-color: transparent;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 20px;
}

.form{
    margin:10px;
}

.padding{
    padding-top: 2em;
    padding-left: 70px;
}
