{% extends "encyclopedia/layout.html" %}

{% block title %}

    Entries

{% endblock %}

{% block body %}
{% load markdownify %}

    <h1> {{ title }} </h1>
    <hr style="background-color:cadetblue">
    <h5 style="color:white">{{ content|markdownify|safe }}</h5>
    <br>
    <div>
        <a class="fa fa-edit" href="{% url 'edit' %}">  Edit Page</a>
    </div>
    <div>
        <a style="color:rgb(126, 4, 4)" class="fa fa-remove" href="{% url 'delete' %}">   Delete Page</a>
    </div>

{% endblock %}